#header-con{
    height: 104px;
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    background-color: rgb(240, 234, 115);
}
#logo{
    height: 100px;
}
#navbar{
    display: flex;
    align-items: center;   
}

#navbar li{
padding: 0px 35px;
list-style: none;
font-size: large;
}

/* #body{
} */

#res-container{
    display: flex;
  flex-wrap: wrap;
  margin: 10px;
 gap: 25px;

    
}
.card{
    /* height: 400px; */
    width: 160px;
    padding: 1%;
    height: 420px;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}
.card:hover{
    border: 1px solid black;
    cursor: pointer;
}

#shimmer-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 25px;
    
}
.shimmer-card{
    /* display: flex; */
    margin: 10px;
    width: 170px;
    height: 400px;
    background-color: #e4dfdf;
}

#login{
    font-size: large;
}
#login:hover{
    cursor: pointer;
}